@import url(http://allfont.ru/allfont.css?fonts=open-sans);
$colorBlack: #242424;
$colorPing: #F90049;
$colorPingHover: #E50043;
$colorGrey: #CCCCCC;
$colorWhite: #EAE9E9;
$colorNone: transparent;
$backgroundVideo: rgba(204, 204, 204, 0.23);

@mixin blackWhite ($grayscale){
	-webkit-filter: grayscale($grayscale);
	-moz-filter: grayscale($grayscale);
	-ms-filter: grayscale($grayscale);
	-o-filter: grayscale($grayscale);
	filter: grayscale($grayscale);
}

@mixin blur ($variable){
	-webkit-filter: blur($variable);
	-moz-filter: blur($variable);
	-ms-filter: blur($variable);
	-o-filter: blur($variable);
	filter: blur($variable);
}

%font-text{
	font-family: 'OpenSans', arial;
	color: #242424;
	text-align: left;
	font-weight: 800;
}
%button-style{
	width: 180px;
  	height: 30px;
  	color: #ffffff;
  	text-transform: uppercase;
  	font-family: 'OpenSans', arial;
  	font-weight: 600;
  	text-align: center;
  	line-height: 1.29;
  	font-size: 14px;
  	border: none;
  	&:hover{
  		cursor: pointer;
  	}
}
body{
	//background-image: url(../img/hhh.jpg);
	margin: 0px;
	padding: 0px;
}
a{
	font-family: 'OpenSans', arial;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.13;
	text-align: left;
	color: $colorPing;
	&:before{
		content: '@';
	}
	&:hover{
		color: $colorPingHover;
	}
}

.button-style{
	&-one{
		@extend %button-style;
		background-color: $colorBlack;
		&:hover{background-color: $colorPing;}
		}
	&-two{
		@extend %button-style;
		background-color: $colorPing;
		&:hover{background-color: $colorPingHover;}
		}
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
h1{
	@extend %font-text;
	font-size: 26px;
	line-height: 1.15;
}
h2{
	@extend %font-text;
	font-size: 21px;
	line-height: 1.24;
  	letter-spacing: -0.3px;
}
h3{
	@extend %font-text;
	font-size: 16px;
	line-height: 1.44;
  	letter-spacing: -0.2px;
}
.promo-text{
	@extend %font-text;
	font-size: 30px;
  	line-height: 1.33;
  	letter-spacing: -0.2px;
}
.top-nav-menu{
	@extend %font-text;
	font-size: 15px;
	color: #171717;
	line-height: 1.4;
  	letter-spacing: 0.1px;
  	font-weight: 600;
}
p{
	@extend %font-text;
	font-size: 15px;
	line-height: 1.53;
	letter-spacing: -0.2px;
	font-weight: 400;
}

.filter-tag{
	&.activate{
		border: 1px solid $colorPing;
		&:after{
		content: '✓';
		color:#fff;
		background-color: white;
		border: 0px solid #cccccc;
	    background-color: $colorPing;
		}
	}
	display: inline-block;
	width: 134px;
	height: 30px;
	background-color: #ffffff;
	border: 1px solid $colorGrey;
	text-align:center;
	margin-left: 14px;
	.text-tag{
		font-size: 14px;
		font-family: 'OpenSans', arial;
		line-height: 1.29;
		text-align: center;
		color: #171717;
		margin: {
			top: 6px;
			bottom: 6px;
			left: 11px;
			right: 12.6px;
		}
	}
	&:hover{
		cursor: pointer;
	}
	&:after{
		content: '✓';
		color:#cccccc;
		display: inline-block;
		width: 21px;
		height: 21px;
		background-color: white;
		border: 0px solid #cccccc;
		box-sizing: content-box;
		cursor: pointer;
		position: relative;
	    top: -44px;
	    border-radius: 50%;
	    left: 50%;
	    padding: 3px;
    	font-size: 90%;
	    background-color: #cccccc;
	}
}

.checkbox{
	input[type="checkbox"]{
		visibility:hidden;
	}
	label{
		width: 18px;
		height: 18px;
		background-color:#fff;
		&:before{
			content: '✓';
			color:#fff;
			display: inline-block;
			width: 18px;
			height: 18px;
			background-color: white;
			border: 0px solid $colorGrey;
			padding-left: 6px;
			padding-bottom: 6px;
			box-sizing: content-box;
			cursor: pointer;
		}
	}

	input[type="checkbox"]:checked + label{
		&:before{
			background-color:$colorPing;
			content: '✓';
			color:#fff;
			border: 0px solid black;
			width: 18px;
			height: 18px;
		}
	}
}

.text-in-input{
  width: 364px;
  height: 30px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  &:focus{
  	background-color: #f8f8f8;
    border: 1px solid #cccccc;
    padding-left: 5px;
    outline: none;
  }
}

.white-black{
	@include blackWhite (100%);
	&:hover{
		@include blackWhite (0%);
	}
}

.header{
	&.fixed-header{
		background-color: rgba(#000, 1);
		box-shadow: 0 0px 0px rgba($colorBlack,0.9);
		margin-bottom: 0px;
		height:120px;
		ul{
			position: relative;
			right: 0;
			width: 100%;
			margin:{
				top: 40px;
				bottom: 80px;
			}
		}
		.menu-block{
			.search{
				&.show{
					display: block;
				}
				display: none;
				margin-right: 40px;
				margin-top: -70px;
				position: absolute;
				right: 0;
				height: 35px;
				width: 300px;
				background-color: #fff;
				padding-top: 6px;
				.button-style-two{
					height: 25px;
					width: 34px;
				}
				.search-input{
					height: 25px;
					width: 255px;
					margin-left: 6px;
					&:focus{
						outline: none;
					}
				}
				.custom-element-in-search{
					position: absolute;
					background-color: #fff;
					width: 10px;
					height: 10px;
					top: 0;
					margin-top: -5px;
					right: 0;
					margin-right: 7%;
					transform: rotate(45deg);
				}
			}
		}
	}
	overflow-x: hidden;
    position: fixed;
	margin: 0 auto;
	height:159px;
	width: 100vw;
	overflow-y: hidden;
	z-index:1000;
	background-color: rgba($colorBlack, 0.9);
	box-shadow: 0 60px 100px rgba($colorBlack,0.9);
	margin-bottom: 3px;
	//-webkit-filter: blur(1px);
 	//filter: blur(1px);
	.logo-header{
		width: 281px;
		height: 133px;
		text-align: center;
		float: left;
		width: 20%;
	}
	.menu-block{
		z-index: 1000;
		width: 80%;
		display: inline-block;
		.search{
			&.show{
				display: block;
			}
			display: none;
			margin-right: 40px;
			margin-top: -70px;
			position: absolute;
			right: 0;
			height: 50px;
			width: 300px;
			background-color: #fff;
			padding-top: 7px;
			.button-style-two{
				height: 35px;
				width: 34px;
			}
			.search-input{
				height: 35px;
				width: 255px;
				margin-left: 6px;
				&:focus{
					outline: none;
				}
			}
			.custom-element-in-search{
				position: absolute;
				background-color: #fff;
				width: 10px;
				height: 10px;
				top: 0;
				margin-top: -5px;
				right: 0;
				margin-right: 7%;
				transform: rotate(45deg);
			}
		}
	}
	.header-dot{
		width: 8px;
		height: 8px;
		background-color: $colorPing;
		border-radius: 50%;
		position: absolute;
		margin-top: 100px;
		right: 0;
		margin-right: 786px;
	}
	ul{
		position: relative;
		right: 0;
		width: 100%;
		margin:{
			top: 40px;
			bottom: 80px;
		}
		padding-right: 60px;
		display: inline-block;
		text-align: right;
		.search-ico{
			i{
				width: 18px;
				height: 18px;
				color: #fff;
				&:hover{
					color: $colorPing;
					cursor: pointer;
				}
			}
		}
		.donate-header{
			background-color: #f90049;
				padding:{
				left:10px;
				right:10px;
				top: 5px;
				bottom: 5px;
				}
				border: 1px solid rgba($colorBlack, 0.0);
			letter-spacing: 2px;
			&:hover{
				a{
					color:#fff;
				}
				background-color: rgba($colorBlack, 0.0);
				border: 1px solid #f90049;
			}
		}
		li{
			&.active-item-header{
				text-align: center;
				&:after{
					content: "";
					width: 8px;
					height: 8px;
					background-color: $colorPing;
					border-radius: 50%;
					position: absolute;
					bottom: 0;
					margin-bottom: -5px;
					margin-left: -25px;
				}
			}
			display:inline-block;
			margin-left: 1%;
			color:#fff;
			font-family: 'OpenSans', arial;
			font-size: 15px;
			font-weight: 600;
			line-height: 1.4;
			letter-spacing: 0.1px;
			text-transform: uppercase;
			box-sizing: content-box;
			a{
				font-size: 14px;
				color: #fff;
				text-decoration : none;
				&:before{
					content: "";
				}
				&:hover{
				color: $colorPing;
				cursor: pointer;
				}
			}
		}
	}
}


footer{
	position:relative;
	bottom: 0;
	margin-bottom: -30px;
	width: 100%;
	min-height: 700px;
	height: 700px;
	padding-top: 57px;
	background-color: #020202;
	.bottom-menu{
		.bottom-menu-item{
			list-style: none;
			a{
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 1.4px;
				line-height: 2;
				font-weight: bold;
				font-size: 14px;
				&:before{
					content: "";
				}
				&:hover{
					color: $colorPing;
				}
			}
		}
	}
	.one-half{
		position: relative;
		display: inline-block;
		width:49.5%;
		top:0;
		h2{
			color: $colorPing;
		}
		p{
			color: #fff;
			margin-top: 8px;
			margin-bottom: -1px;
		}
		.text-checkbox{
			display: inline-block;
			p{
				margin-top: 1px;
				margin-bottom: 0px;
			}
		}
		.checkbox-block{
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: -17.5px;
		}
	}
	.footer-Block{
		&-one{
			text-align: left;
			padding-left: 89px;
		}
		&-two{
			text-align: right;
			p{
				margin-top: 20px;
				width: 51%;
				float: right;
			}
		}
	}
}

.select{
	.select-menu{
		width: 364px;
		height: 30px;
		.textbox{
			width: 364px;
			height: 30px;
			background-color: #ffffff;
			border: 1px solid #cccccc;
			position: relative;
			&:hover{
				cursor: pointer;
			}
			input{
				font-size: 14px;
  				line-height: 1.29;
  				text-align: left;
				padding-left: 12px;
				padding-right: 30px;
				height: 100%;
				width: 100%;
				border: none;
				background-color: $colorNone;
				&:hover{
					cursor: inherit ;
				}
				&:focus{
					background-color: $colorNone;
					border: none;
					outline: none;
				}
			}
		}
		.arrowDown{
			width: 10px;
			height: 10px;
			position: absolute;
			display: inline-block;
			margin-top: 6px;
			margin-left: -20px;
			border: 1px solid #333333;
			border-top: none;
			border-left: none;
			transform: rotate(45deg);
		}
	}
	.dropdown-list{
		&.active{
			display: block;
			position: absolute;
		}
		display: none;
		margin-top: 4px;
		width: 364px;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		ul{
			margin: 0;
			width: 100%;
			padding: 0;
			li{
				height: 30px;
				list-style-type: none;
				width: 100%;
				padding-left: 12px;
				&:hover{
					cursor: pointer;
					background-color: rgba(204, 204, 204, 0.23);
				}
				a{
					text-decoration: none;
					color: #242424;
					@extend %font-text;
					font-size: 14px;
					font-weight: 400;
					line-height: 1.5;
					letter-spacing: -0.2px;
					text-align: left;
					&:before{
						content: "";
					}
				}
			}
		}

	}
}

#aParent{
	height: 100vh;
	.flexSlider{
		ul{
			li{
				display:inline-block;
				height: 100%;
				.banner-text{
					width: 30%;
					@extend %font-text;
					font-size: 25px;
					font-weight: 800;
					line-height: 1.33;
					letter-spacing: 2px;
					text-align: left;
					color: #ffffff;
					margin-top: 16%;
					margin-left: 10%;
					text-shadow: none;
				}
				.midle-text{
					width: 30%;
					@extend %font-text;
					font-weight: 400;
					font-size: 14px;
					line-height: 1.25;
					letter-spacing: -0.2px;
					text-align: left;
					color: #ffffff;
					margin-top: 3.5%;
					margin-left: 10%;
					text-shadow: none;
				}
				.low-text{
					text-align: center;
					padding: 10px;
					border: 1px solid #fff;
					border-radius: 5px;
					width: 30%;
					@extend %font-text;
					font-weight: 600;
					font-size: 15px;
					line-height: 1.45;
					letter-spacing: 2px;
					color: #ffffff;
					margin-top: 3.5%;
					margin-left: 10%;
					text-shadow: none;
				}
				.ico-in-text{
					display: inline-block;
					float: right;
					margin-top: -15%;
					margin-right: 150px;
				}
			}
		}
	}
}
.flexSlider-prevButton{
	transform: rotate(180deg);
}
.flexSlider-nextButton, .flexSlider-prevButton {
    display: block;
    min-height: 21px;
    height: 21px;
    position: absolute;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 100;
    top: 20;
    bottom: 20;
    right: 20;
    width: 21px;
    opacity: 0.2;
    cursor: pointer;
    margin: 30px;
    margin-top: 25%;
    background-image: url("../img/arrow.png");
}
.flexSlider-nextButton:after, .flexSlider-prevButton:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    width: auto;
    height: auto;
    border: 0px solid transparent;
    border-width: 0px 0px;
}
.flexSlider-dots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 999;
    display: none;
}
.block-content-one{
	.content-info{
		padding-left: 5%;
		h1{
			margin-top: 25px;
			margin-bottom: 20px;
		}
	}
	.img-in-content{
		position: relative;
		.content-img{
			z-index: 1;
			margin-left: 10px;
			width: 100%;
			height: 250px;
		}
		.name-of-img{
			background-color: #fff;
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			margin-right: -10px;
			padding: 5px;
		}
	}
}
.block-content-two{
	form{
		h1,p{
			color: #fff;
			position: relative;
			z-index: 5;
		}
		margin-right: 20px;
		padding: 30px;
		background-color: #242424;
		.img-spot{
			position: absolute;
			transform: rotate(90deg);
			right: 0;
			margin-top: -60px;
			margin-right: 87px;
			z-index: 1;
		}
	}
}